/bootstrap/compiled.php
.env.*.php
.env.php
.htaccess
error_log
/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*.key
/storage/debugbar/
/storage/logs/
/vendor
/temp
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.idea/
storage/app/public
updates/
composer.lock
*.lock
resources/lang/en.json
.env
updates.zip
ecommerce.zip
install.zip
/nbproject/private/
/nbproject
/public/app-translations
public/uploads.zip
/database/seeds/package_prepare_29-6-2024_comprehensive_auction.sql
/database/seeds/package_prepare_29-6-2024_comprehensive_auction.zip
sharafNotes.txt
backup.zip
error_log
app/error_log
config/error_log
backpu_migration.sql
shop.sql
public
tests
*.sql
project code work flow.txt
storage
code_license
bootstrap